extends layout

block content
  h1 #{title}: 
    a(href=bookinstance.url) #{bookinstance.id}
  
   
  p #[strong Delete the following books before attempting to delete this Book Instance.]
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books:
    
      dl
       dt 
          a(href=bookinstance.book.url) #{bookinstance.book.title}
       dd #{bookinstance.book.summary}
  
  p Do you really want to delete this Book Instance?
    
   form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete